tensorboardX
tqdm
easydict
prettytable
chumpy
opencv-python
imageio-ffmpeg
matplotlib
roma
ipdb
pytorch-metric-learning                      
packaging
triton
timm
pytest 
chardet 
yacs 
termcolor
submitit 
fvcore
seaborn
einops
thop
numba
scikit-image
filterpy
moviepy
openpyxl
